/* app css stylesheet */
html {
	height: 100%;
}

body {
	background: url(./images/background.jpg) no-repeat center top;
    background-size: cover;
    height: 100%;
    text-align: center;
}

.logo {
    margin: 50px 0;
    text-align: center;
}

.form-steps {
	padding: 20px;
	min-width: 150px;
	min-height: 200px;
	background: #DCDCDC;
	border-radius: 10px;
	margin: 0 15px;
}

.form-steps .md-raised {
	width: 150px
}

md-content .ext-content {
  	padding: 20px;
  	margin: 20px;
  	background-color: #FFF2E0; 
}

label {
	text-align: left;
}